.o_atlas_tablo {
    .o_atlas_tablo_ad {
        max-width: 22rem;
        font-weight: 600;
    }

    .o_atlas_tablo_alan .o_spreadsheet_container {
        position: absolute;
        inset: 0;
    }
}
